.background_img {
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
}
.logo {
    /* width: 200px; Adjust the width of the logo as needed */
    height: 80vh;
    background-image: url('./logo-01.svg'); /* Replace with your logo's URL */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.our_website{
    margin: 0;
    font-size: 5rem;
    text-align: center;
}
span.first{
    color: #ffffff;
}
span.second{
    color: #3db760
}
.padding{
    padding: 6rem;
}
.talking_aboutus{
    /* text-align: center; */
    align-self: center;
}
.second_bgimg {
    background-image: url('./secondbg.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
}
.perag{
    text-align: justify;
    
    
}
.talking{
    color: #ffffff;
    font-size: 3rem;
}
.aboutus{
    color: #3db760;
    font-size: 3rem;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  .icon img {
    width: 50px;
    margin-inline: 5rem;
  }

  .icon-title {
    margin-top: 10px;
    text-align: center;
  }
/* media querry */
  @media (min-width: 568px) and (max-width :768px) {
    .logo{
        height: 50vh;
    }
    .our_website{
        font-size: 3rem;
    }
    .talking_aboutus{
        text-align: center;
        margin-top: 0;
    }
    .icon img {
        margin-inline: 1rem;
      }
    .perag{
    padding: 2rem;
    }
    .icon{
        width: 100px;
    }
  }
  @media (min-width: 268px) and (max-width :568px) {
    .logo{
        height: 40vh;
    }
    .our_website{
        font-size: 2rem;
    }
    .talking_aboutus{
        text-align: center;
        margin-top: 0;
    }
    .icon img {
        margin-inline: 1rem;
      }
    .perag{
    padding: 2rem;
    }
    .icon{
        width: 100px;
    }
  }
